@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Instrument+Sans:wght@300;400;500;600&display=swap');

@layer colors {
    :root {
        --brown: #7b542f;
        --light-brown: #b6771d;

        --secondary-amber: #f59e0b; /* for hover */
        --golden-yellow: #fbbf24; /* for buttons links and key highlights */

        --warm-dark: #1c1917;
        --off-white: #e7e5e4;
--bg: #FBF3D9:

--card: #FFFFFF;
        --light-base: #fef3c7;
        --light-surface: #fffbeb;

        --white: #fff;

        --menu-background: #292524;
    }
}

@layer background-width {
    :root {
        --container-width-sm: 90%;
        --container-width-md: 82%;
        --container-width-lg: 70%;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    background: var(--bg);
}

h1 {
    line-height: 1.1;
    font-size: 2.5rem;
}

h2 {
    line-height: 1.1;
    font-size: 1.75rem;
}

h3 {
    line-height: 1.1;
    font-size: 1.25rem;
}

p {
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}

img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

section{
    padding: 3rem 0;
}

.uil {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--golden-yellow);
}

.logo {
    font-family: 'Playwrite DE SAS', cursive;
    font-size: 1.5rem;
    color: var(--golden-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    
    img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}


.float__msg{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    background: #25D366;
    box-shadow: 0px 0px 8px #25D366;
    animation: pulse 3s linear infinite;
}

nav {
    background: var(--warm-dark);
    color: var(--white);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    margin-bottom: 3rem;

}

.navbar {
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-close {
    padding: 0 2rem;
}

.uil {
    cursor: pointer;
}

.nav__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    z-index: 1;
    background: var(--menu-background);
    opacity: 0.95;
    height: 100vh;
    /* width: 100%; */
    /* text-align: center; */
    padding: 1rem 0;

    display: none;
}

.nav__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 5rem;
}

/* .nav__list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */

.nav__links a {
    padding: 1rem;
    border-radius: 5px;
    color: var(--off-white);

    transition: all 0.3s ease-in-out;
    animation: pulse 1s infinite linear;
}


.nav__list a:active {
    color: var(--secondary-amber);
}

.hero__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    text-align: center;
    padding: 10rem 0 5rem;
}

.available{
    background: var(--light-base);
    width: fit-content;
    align-self: center;
    padding: .5rem 2rem;
    border-radius: 30px;
    border: 1px solid var(--light-brown);
}

.available::before{
    content: "";
    background: red;
    padding: 5px;
    border-radius: 50%;
}


.ismail__profile:hover {
    transform: translateY(-5px);
}

.ismail__links {
    /* margin-top: 2.5rem; */
    padding: 1rem;
    display: flex;
}

.ismail__links a {
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px var(--warm-dark) solid;
    color: var(--warm-dark);
    transition: 0.5s ease-in-out;
}

.ismail__links a:first-child {
    background: var(--golden-yellow);
    color: var(--warm-dark);
    border: none;
    animation: pulse 2s infinite linear;
    /* border-color: black; */
}



.ismail__descr {
    margin: 2rem 0 1rem 0;
    padding: 0 2rem;

    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

.skill h4 {
    font-size: 14px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
    border-radius: 40px;
    display: inline-flex;
    gap: 1rem;
    border: 1px solid var(--warm-dark);
    background: var(--light-base);
    padding: .5rem .8rem;

    color: var(--warm-dark);
    transition: 0.3s ease-in-out;
    

}





.skill:hover {
    background: var(--light-base);
    /* cursor: pointer; */
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.skills {
    margin: 3rem 0 0;
}

.skills__icons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    column-gap: 1rem;
    justify-content: start;
    align-items: center;
}

.skills__icon {
    width: 30px;
    /* height: 30px; */
    /* width: 100%; */
    /* max-width: 70px; */
    overflow: hidden;
    object-fit: contain;
}

.journey__container {
    padding: 3rem 0;
}

.journeys {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.journey {
    background: var(--light-base);
    padding: 1rem;
    border-radius: 10px;
    color: var(--warm-dark);
    border-bottom: 5px solid var(--golden-yellow);
    transition: all 0.3s ease-in-out;
    /* transition-delay: .8s; */
}

.journey:nth-child(2) {
    border-bottom: 5px solid var(--secondary-amber);
}

.journey:nth-child(3) {
    border-bottom: 5px solid var(--light-brown);
}

.journey:hover {
    background: var(--light-base);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.journey h3 {
    margin-bottom: 1rem;
}

/* Projects */
.projects {
    margin: 4rem 0;
}

.project__wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    
    

    margin-top: 3rem;
}

.project {
    background: var(--bg);
    border-bottom: 5px solid var(--golden-yellow);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
    max-width: 40rem;
    height: auto;
    img{
        border-radius: 10px 10px 0 0;
    }
}

.project:nth-child(2) {
    border-bottom: 5px solid var(--secondary-amber);
}

.project:nth-child(3) {
    border-bottom: 5px solid var(--light-brown);
}

.project:nth-child(4) {
    border-bottom: 5px solid var(--brown);
}

.project:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.project img {
    margin-bottom: 2rem;
    width: 100%;
    border-bottom: 3px solid var(--warm-dark);
}

.project__tittle {
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
}

.project__info {
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.project__links{
    display: flex;
    justify-items: start;
    align-items: start;
    gap: 2rem;
    
}


.project a {
     padding: .5rem 1rem;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    background: var(--light-brown);
    border-radius: 5px;
    color: var(--white); 
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    
}

.project a:first-child{
    animation: pulse 3s linear infinite;
}

.project a:last-child{
    background: none;
    border: 1px solid var(--warm-dark);
    color: var(--warm-dark);
}

#contact{
    padding: 2rem 0;
    background: var(--warm-dark);
    color: var(--white);
    .container{
        display: flex;
flex-direction: column;
gap: 3rem;


.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;
    
    button{
        background: var(--golden-yellow);
        border: none;
        padding: .8rem;
        border-radius: 5px;
        font-size: 1rem;
        color: var(--warm-dark);
        text-decoration: underline;
        animation: pulse 3s linear infinite;
        
    }
}

.connect__links{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--warm-dark);
    border-radius: 5px;
    color: var(--light-surface);
    
    a{
        color: var(--light-surface);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        font-size: .8rem;
        text-decoration: underline;
        background: var(--white);
        color: var(--warm-dark);
        padding: .5rem 1rem;
        border-radius: 5px;
    }
}
    }
    
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: var(--warm-dark);
    color: var(--light-surface);
}

@keyframes floatEl {
        0%{
        transform: translateY(-3px);

    }
    50%{
        transform: translateY(5px);
        
        
    }
    
    100%{
        transform: translateY(-3px);
        
    }
}

@keyframes pulse {
    0%{
        transform: scale(0.95);
        /* box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.76); */
    }
    50%{
        transform: scale(1.01);
    }
    
    100%{
        transform: scale(0.95);
        /* box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.76); */
    }
}

/* FIXME */

@media screen and (min-width: 780px) {
    .navbar__toggle {
        display: none;
    }

    .nav__list {
        display: block;
        position: static;
        height: auto;
        background: none;
        padding: 0;
        flex-direction: row;
    }

    .nav__links {
        flex-direction: row;
        padding: 0;
    }
    
    .nav__list a:hover {
    color: var(--golden-yellow);
    transform: translateY(-5px);

    transition: all 0.3s ease-in-out;
}

.project__wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-items: space-between;
    align-items: center;
    width: 100%;

}

/* .project__wrapper{

    #menu-close {
        display: none;
    }
    
    .ismail__links a:hover {
    background: var(--secondary-amber);
    color: var(--warm-dark);
    border-color: var(--secondary-amber);
    transition: 0.5s ease-in-out;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    transform: translateY(-5px);
}
    
    .skill {
        background: var(--golden-yellow);
    }

    .skill:hover {
        background: var(--light-base);
        transition: 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .journeys{
        flex-direction: row;
        
    }

    .journey {
        background: var(--golden-yellow);
        padding: 1rem;
        border-radius: 10px;
        color: var(--warm-dark);
        border-bottom: 5px solid var(--light-brown);
        transition: all 0.3s ease-in-out;
        transition-delay: .8s;
        
    }

    .journey:hover {
        background: var(--light-base);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    } */
}


